
.container {
    text-align: inline;
}


p {
    font-size: 40px;
    margin-left: 35px;
    padding-left: 15px;
    padding-top: 15px;
  }

.card{ 
   background-color: gray;
   margin-right: auto;
   margin-left: auto;
   border-radius: 5%;
   width: 10;
   
}

.input { 
    text-align: right;
    font-size: 30px;
    margin-left: 45px;
    margin-right: 45px;
    
    display: inline-block;
    border-radius: 3%;
    width: 665px;
    height: 70px;  
}



button:focus {
    color: white;
    background-color: orange;
  }


.button:hover{
    background-color: blue;
    transition-duration: 0.4s;
}



.button{
    margin: 5px 15px 5px 5px;
    font-size: 30px;
    margin-left: 10px;
    margin-right: 10px;
    width: 150px;
    padding: 30px;
    border-radius: 10%;
    background-color: rgb(143, 55, 29);
    color: rgb(249, 249, 252);
 
}
   


#newblue:hover {
    background-color: blue;
    transition-duration: 0.4s;

}

.btn-grouptop {
    display: inline-block;
    margin-left: 35px;
    margin-right: 35px;
    
}
    
.btn-group2 {
    display: inline-block;
    margin-left: 35px;
    margin-right: 35px;
    
}

.btn-group3 {
    display: inline-block;
    margin-left: 35px;
    margin-right: 35px;
}
  

.btn-group4 {
    display: inline-block;
    margin-left: 35px;
    margin-right: 35px;
} 

.btn-group5 {
    display: inline-block;
    margin-left: 35px;
    margin-right: 35px;
}    

#skyblue {
    background-color: rgb(95, 95, 109);
    
}

#darkgray {
    background-color: rgb(194, 124, 67);
    
}