/* container */

.container {
    text-align: inline;
}

/* Standard | Scienctific */

p {
    font-size: 40px;
    margin-left: 35px;
    padding-left: 15px;
    padding-top: 20px;
    color: rgb(249, 249, 252);
  }

/* card */

.card{ 
   background-color: gray; /*(87, 23, 23) */
   margin-right: auto;
   margin-left: auto;
   border-radius: 5%;
   width: 10;
   
}

/* Numerical Input */

.input { 
    text-align: right;
    font-size: 50px;
    margin-left: 45px;
    margin-right: 45px;
    margin-bottom: 25px;
    
    display: inline-block;
    border-radius: 3%;
    width: 665px;
    height: 70px;  
}

/* button hover */

.button:hover{
    background-color: blue;
    transition-duration: 0.4s;
}

/* All numeric Buttons */

.button{
    margin: 5px 15px 5px 5px;
    font-size: 30px;
    margin-left: 10px;
    margin-right: 10px;
    width: 150px;
    padding: 30px;
    border-radius: 10%;
    background-color: rgb(143, 55, 29);
    color: rgb(249, 249, 252);
 
}
   
/* nonnumeric buttons top row & right column */

.nonnumeric-button {
    background-color: rgb(87, 23, 23);
}
/* nonnumeric "=" button  */

.equal-button {
    background-color: rgb(184, 184, 184);
    color: rgb(87, 23, 23); 
}

/* nonnumeric "period" button  */

.period-button {
    background-color: rgb(143, 55, 29);
    color: rgb(249, 249, 252); 
}

/* Buttons are grouped by rows. top row, 2nd row, 3rd row, 4th row & 5th row */

.btn-group {
    display: inline-block;
    margin-left: 35px;
    margin-right: 35px;
}