/* Coolors Exported Palette - https://coolors.co/030b12-6d9dc5-090a0b-5e6265-b8b8b8-771918 */

/* CSS HEX */
--rich-black-fogra-29: #030b12ff;
--cerulean-frost: #6d9dc5ff;
--rich-black-fogra-39: #090a0bff;
--dim-gray: #5e6265ff;
--gray-x-11-gray: #b8b8b8ff;
--up-maroon: #771918ff;

/* CSS HSL */
--rich-black-fogra-29: hsla(208, 71%, 4%, 1);
--cerulean-frost: hsla(207, 43%, 60%, 1);
--rich-black-fogra-39: hsla(210, 10%, 4%, 1);
--dim-gray: hsla(206, 4%, 38%, 1);
--gray-x-11-gray: hsla(0, 0%, 72%, 1);
--up-maroon: hsla(1, 66%, 28%, 1);

/* SCSS HEX */
$rich-black-fogra-29: #030b12ff;
$cerulean-frost: #6d9dc5ff;
$rich-black-fogra-39: #090a0bff;
$dim-gray: #5e6265ff;
$gray-x-11-gray: #b8b8b8ff;
$up-maroon: #771918ff;

/* SCSS HSL */
$rich-black-fogra-29: hsla(208, 71%, 4%, 1);
$cerulean-frost: hsla(207, 43%, 60%, 1);
$rich-black-fogra-39: hsla(210, 10%, 4%, 1);
$dim-gray: hsla(206, 4%, 38%, 1);
$gray-x-11-gray: hsla(0, 0%, 72%, 1);
$up-maroon: hsla(1, 66%, 28%, 1);

/* SCSS RGB */
$rich-black-fogra-29: rgba(3, 11, 18, 1);
$cerulean-frost: rgba(109, 157, 197, 1);
$rich-black-fogra-39: rgba(9, 10, 11, 1);
$dim-gray: rgba(94, 98, 101, 1);
$gray-x-11-gray: rgba(184, 184, 184, 1);
$up-maroon: rgba(119, 25, 24, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #030b12ff, #6d9dc5ff, #090a0bff, #5e6265ff, #b8b8b8ff, #771918ff);
$gradient-right: linear-gradient(90deg, #030b12ff, #6d9dc5ff, #090a0bff, #5e6265ff, #b8b8b8ff, #771918ff);
$gradient-bottom: linear-gradient(180deg, #030b12ff, #6d9dc5ff, #090a0bff, #5e6265ff, #b8b8b8ff, #771918ff);
$gradient-left: linear-gradient(270deg, #030b12ff, #6d9dc5ff, #090a0bff, #5e6265ff, #b8b8b8ff, #771918ff);
$gradient-top-right: linear-gradient(45deg, #030b12ff, #6d9dc5ff, #090a0bff, #5e6265ff, #b8b8b8ff, #771918ff);
$gradient-bottom-right: linear-gradient(135deg, #030b12ff, #6d9dc5ff, #090a0bff, #5e6265ff, #b8b8b8ff, #771918ff);
$gradient-top-left: linear-gradient(225deg, #030b12ff, #6d9dc5ff, #090a0bff, #5e6265ff, #b8b8b8ff, #771918ff);
$gradient-bottom-left: linear-gradient(315deg, #030b12ff, #6d9dc5ff, #090a0bff, #5e6265ff, #b8b8b8ff, #771918ff);
$gradient-radial: radial-gradient(#030b12ff, #6d9dc5ff, #090a0bff, #5e6265ff, #b8b8b8ff, #771918ff);